body {
    
    background-color: rgba(0,0,0,0.5);
}

form{

    border: 5px solid white ;
    width: 400px;
    height: 400px;
    margin: 30%;
}

input{

    margin-left: 25%;
    margin-right: 25%;

}

.forgot{
    position: relative;
    margin-bottom: 3px;
    margin-right: 3px;
}

.register{
    border: 2px solid blue;
    position: absolute;
    margin-bottom: 3px;
    margin-right: 3px;
}